<h2 class="sub-title">Education</h2>
<div class="education">
    <div class="courses">


        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Computer Engineering</p>
                <p class="course-date">2019 – 2024</p>
            </div>
            <p class="course-institution">Colegio Mayor del Cauca University Institution</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Java Programming Diploma</p>
                <p class="course-date">2024</p>
            </div>
            <p class="course-institution">Politecnico de colombia</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Web Developer, Alura Latam, Virtual Training</p>
                <p class="course-date">2023</p>
            </div>
            <p class="course-institution">Oracle One</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">SQL with MySQL</p>
                <p class="course-date">2023</p>
            </div>
            <p class="course-institution">Colegio Mayor del Cauca University Institution</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Angular University - From Zero to Expert - Angular 18</p>
                <p class="course-date">----</p>
            </div>
            <p class="course-institution">Global Meteoring- UDEMY</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Java University - Zero to Expert - Updated (+152 hrs)</p>
                <p class="course-date">----</p>
            </div>
            <p class="course-institution">Global Meteoring- UDEMY</p>
        </div>

    </div>

    <div class="courses-img">
        <img src="../../assets/education.png" alt="">
    </div>
</div>