<h2 class="sub-title">{{ 'EDUCATION.TITLE' | translate }}</h2>
<div class="education">
    <div class="courses">
        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Computer Engineer</p>
                <p class="course-date">2019 – 2024</p>
            </div>
            <p class="course-institution">Institución Universitaria Colegio Mayor del Cauca</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Diploma in Java Programming</p>
                <p class="course-date">2024</p>
            </div>
            <p class="course-institution">Politécnico de Colombia</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Web Developer (Alura Latam / Oracle One)</p>
                <p class="course-date">2022 – 2023</p>
            </div>
            <p class="course-institution">Alura Latam / Oracle One</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">PostgreSQL Database Course</p>
                <p class="course-date">2024</p>
            </div>
            <p class="course-institution">Udemy</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Master in SQL Server: From Zero to Professional (Official)</p>
                <p class="course-date">2025</p>
            </div>
            <p class="course-institution">Online - Official Program</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Java University - Zero to Expert (Updated, +150 hrs)</p>
                <p class="course-date">2026</p>
            </div>
            <p class="course-institution">Udemy</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Angular University - Zero to Expert (Angular 18)</p>
                <p class="course-date">2026</p>
            </div>
            <p class="course-institution">Udemy</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Mastering Object Mapping: MapStruct, Lombok & Spring Boot</p>
                <p class="course-date">2026</p>
            </div>
            <p class="course-institution">Udemy</p>
        </div>

        <div class="course">
            <div class="course-and-year">
                <p class="course-title">Spring Data JPA & Hibernate: Data Persistence with Java</p>
                <p class="course-date">2026</p>
            </div>
            <p class="course-institution">Udemy</p>
        </div>
    </div>

    <div class="courses-img">
        <img src="../../assets/education.png" alt="">
    </div>
</div>