<h2 class="sub-title">About me</h2>
<p class="description">Computer Engineer, Back-End developer with knowledge in Java and expertise in the Spring framework.Skilled in web development with proficiency in HTML, CSS, JavaScript and the Angular framework. Experienced in database management as well as version control using Git repositories. I aim to further develop my technical skills and grow alongside 
    the company and my colleagues.<br>
    
    I consistently seek teamwork, cooperating in the best possible way, with great satisfaction in teaching and learning. I adapt well to change with energy and dedication. 
    I am fully prepared to take on challenges and, if necessary, acquire knowledge in other areas to meet the needs of my employers.</p>
