.proyects {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
}

.proyect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    text-align: center; 
}
.proyect .image {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: 120px; /* Altura fija para todas las imágenes */
    overflow: hidden; /* Asegura que no se desborde contenido */
    border-radius: 10px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%; /* Evita que la imagen se desborde horizontalmente */
    max-height: 100%; /* Evita que la imagen se desborde verticalmente */
    object-fit: cover; /* Hace que la imagen se adapte al contenedor, recortando si es necesario */
    border-radius: 10px;
}

.proyect h3 {
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
    color: #333;
}

.proyect p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    text-align: justify;
}

.proyect a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #474747;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.proyect a:hover {
    background-color: #474747;
}


/* Responsive para pantallas más pequeñas */
@media (max-width: 768px) {
    .proyects {
        grid-template-columns: 1fr; /* Cambia a 1 columna en pantallas más pequeñas */
    }
}

.proyect {
    border-radius: 10px;
    text-align: center; 
}

.proyect img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 15px;
}

.proyect h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.proyect p {
    font-size: 1rem;
    color: #666;
    margin: 20px;
}

.proyect a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1E1E1E;
    color: #D9D9D9;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.proyect a:hover {
    background-color: #646464;
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 480px) {
    .proyect h3 {
        font-size: 1.2rem; /* Reduce el tamaño de la fuente para el título */
    }
    
    .proyect p {
        font-size: 0.9rem; /* Reduce el tamaño de la fuente para el párrafo */
    }

    .proyect a {
        padding: 8px 15px; /* Ajusta el tamaño del botón */
    }
}