<h2 class="sub-title">{{ 'PROJECTS.TITLE' | translate }}</h2>
<div class="proyects">

    <!--proyecto uno -->
    <div class="proyect">
        <div class="image">
            <img src="../../assets/proyects/mantenimineto.jpg" alt="Proyect 1" />
        </div>
        <h3>{{ 'PROJECTS.PROJECT1_TITLE' | translate }}</h3>
        <p>{{ 'PROJECTS.PROJECT1_DESCRIPTION' | translate }}</p>
        <a href="https://github.com/brmeza/soft_matenimineto_equipos">{{ 'PROJECTS.VIEW_PROJECT' | translate }}</a>
    </div>

    <div class="proyect">
        <div class="image">
            <img src="../../assets/proyects/api.png" alt="Proyect 1" />
        </div>
        <h3>{{ 'PROJECTS.PROJECT2_TITLE' | translate }}</h3>
        <p>{{ 'PROJECTS.PROJECT2_DESCRIPTION' | translate }}</p>
        <a href="https://github.com/brmeza/Banco-Internacional">{{ 'PROJECTS.VIEW_PROJECT' | translate }}</a>
    </div>

    <div class="proyect">
        <div class="image">
            <img src="../../assets/proyects/abano.png" alt="Proyect 1" />
        </div>
        <h3>{{ 'PROJECTS.PROJECT3_TITLE' | translate }}</h3>
        <p>{{ 'PROJECTS.PROJECT3_DESCRIPTION' | translate }}</p>
        <a href="https://github.com/brmeza/AbanoCosmetics">{{ 'PROJECTS.VIEW_PROJECT' | translate }}</a>
    </div>

    <div class="proyect">
        <div class="image">
            <img src="../../assets/proyects/security.png" alt="Proyect 1" />
        </div>
        <h3>{{ 'PROJECTS.PROJECT4_TITLE' | translate }}</h3>
        <p>{{ 'PROJECTS.PROJECT4_DESCRIPTION' | translate }}</p>
        <a href="https://github.com/brmeza/SpringSecurityJWT">{{ 'PROJECTS.VIEW_PROJECT' | translate }}</a>
    </div>

    

</div>