<h2 class="sub-title">{{ 'EXPERIENCE.TITLE' | translate }}</h2>

<section class="experience">
	<div class="experience-item">
		<h3 class="job-title">{{ 'EXPERIENCE.JOB1_TITLE' | translate }}</h3>
		<p class="company">LineXperts · <span class="date">{{ 'EXPERIENCE.JOB1_DATE' | translate }}</span></p>
		<p class="role">{{ 'EXPERIENCE.JOB1_ROLE' | translate }}</p>
		<p class="tech"><strong>{{ 'EXPERIENCE.TECHNOLOGIES' | translate }}</strong> Java, Python, TypeScript, Spring Boot, Django, JPA, Angular, React, Spring Security (JWT), PostgreSQL, Maven, Postman, Git, GitHub, HTML, CSS, JSON, REST, IntelliJ, Visual Studio Code.</p>
	</div>

	<div class="experience-item">
		<h3 class="job-title">{{ 'EXPERIENCE.JOB2_TITLE' | translate }}</h3>
		<p class="company">Taller Multimarca · <span class="date">{{ 'EXPERIENCE.JOB2_DATE' | translate }}</span></p>
		<p class="role">{{ 'EXPERIENCE.JOB2_ROLE' | translate }}</p>
		<p class="tech"><strong>{{ 'EXPERIENCE.TECHNOLOGIES' | translate }}</strong> Angular, Git, GitHub, HTML, CSS, TypeScript, JSON, Visual Studio Code.</p>
	</div>

	<div class="experience-item">
		<h3 class="job-title">{{ 'EXPERIENCE.JOB3_TITLE' | translate }}</h3>
		<p class="company">Innovatech · <span class="date">{{ 'EXPERIENCE.JOB3_DATE' | translate }}</span></p>
		<p class="role">{{ 'EXPERIENCE.JOB3_ROLE' | translate }}</p>
		<p class="tech"><strong>{{ 'EXPERIENCE.TECHNOLOGIES' | translate }}</strong> Java, TypeScript, Spring Boot, JPA, PostgreSQL, Maven, Postman, Git, GitHub, JSON, REST/RESTful, Docker, MVC.</p>
	</div>

	<div class="experience-item">
		<h3 class="job-title">{{ 'EXPERIENCE.JOB4_TITLE' | translate }}</h3>
		<p class="company">TechSolutions · <span class="date">{{ 'EXPERIENCE.JOB4_DATE' | translate }}</span></p>
		<p class="role">{{ 'EXPERIENCE.JOB4_ROLE' | translate }}</p>
		<p class="tech"><strong>{{ 'EXPERIENCE.TECHNOLOGIES' | translate }}</strong> Java, JavaScript, Spring Boot, JPA, MongoDB, Maven, Postman, Git, GitHub, HTML, CSS, JSON, REST, Bootstrap.</p>
	</div>

</section>

