<h2 class="sub-title">Contact</h2>
<div class="btns">
    <button class="btn-1">Dowload CV</button>
    <button class="btn-2" (click)="sendEmail()">Contact Me</button>
    <button class="btn-1" translate="no" (click)="linkedin()">LinkedLn</button>
</div>

<div>
    <ul class="list">
        <li class="item"><a href="#about">About Me</a></li>
        <li class="item"><a href="#education">Education</a></li>
        <li class="item"><a href="#technologies">Technologies</a></li>
        <li class="item"><a href="#projects">Projects</a></li>
        <li class="item"><a href="#contact">Contact</a></li>
    </ul>

</div>

<hr>
