<div class="banner" id="banner">
    <div class="banner-img">
        <img src="../../assets/my.jpg" alt="mi images">
    </div>

    <div class="banner-title">
        <h1>{{ 'BANNER.TITLE' | translate }}</h1>
        <div class="developer">
            <h2>{{ 'BANNER.SUBTITLE' | translate }}</h2>
            <img src="../../assets/bat.png" alt="">  
        </div> 
        
        <div class="banner-btns">
            <p>{{ 'BANNER.GREETING' | translate }}</p>
            <div class="btns">
                <button class="btn-1" (click)="download()">{{ 'COMMON.DOWNLOAD_CV' | translate }}</button>
                <button class="btn-2" (click)="sendEmail()">{{ 'COMMON.CONTACT_ME' | translate }}</button>
            </div>     
        </div>     
    </div>
</div>