<div class="banner" id="banner">
    <div class="banner-img">
        <img src="../../assets/my.jpg" alt="mi images">
    </div>

    <div class="banner-title">
        <h1 translate="no">Full-Stack</h1>
        <div class="developer">
            <h2 translate="no">Developer</h2>
            <img src="../../assets/bat.png" alt="">  
        </div> 
        
        <div class="banner-btns">
            <p>Hello I'm Brayan Meza</p>
            <div class="btns">
                <button class="btn-1" (click)="dowload()">Dowload CV</button>
                <button class="btn-2" (click)="sendEmail()">Contact Me</button>
            </div>     
        </div>     
    </div>
</div>