<h2 class="sub-title" id="technologies">technologies</h2>
<div class="technologies">
    <div>
        <p class="sub-tec">Frond-end</p>
        <div class="group">
            <div class="technology">
                <img src="../../assets/html.png" alt="Angular" />
                <div>
                    <p class="technology-name" translate="no">HTML</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/css.png" alt="Angular" />
                <div>
                    <p class="technology-name" translate="no">CSS</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/ts.png" alt="Angular" />
                <div>
                    <p class="technology-name" translate="no">TYPESCRIPT</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/angular.png" alt="Angular" />
                <div>
                    <p class="technology-name" translate="no">ANGULAR</p>
                    <p class="technology-form">INTERNMEDIUM</p>
                </div>
            </div>
        </div>

    </div>

    <div>
        <p class="sub-tec">Back-End</p>
        <div class="group">
            <div class="technology">
                <img src="../../assets/java.png" alt="Angular" />
                <div>
                    <p class="technology-name" translate="no">JAVA</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
    
            <div class="technology">
                <img src="../../assets/spring.png" alt="Angular" />
                <div>
                    <p class="technology-name" translate="no">SPRING</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/postgreSQL.png" alt="Angular" />
                <div>
                    <p class="technology-name" translate="no">SQL</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/git .png" alt="Angular" />
                <div>
                    <p class="technology-name" translate="no">GIT</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/docker.png" alt="Angular" />
                <div>
                    <p class="technology-name" translate="no">DOCKER</p>
                    <p class="technology-form">BASIC</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/azure.png" alt="Angular" />
                <div>
                    <p class="technology-name" translate="no">AZURE</p>
                    <p class="technology-form">BASIC</p>
                </div>
            </div>
        </div>

    </div>
</div>