<h2 class="sub-title" id="technologies">{{ 'TECHNOLOGIES.TITLE' | translate }}</h2>
<div class="technologies">
    <div>
        <p class="sub-tec">{{ 'TECHNOLOGIES.FRONT_END' | translate }}</p>
        <div class="group">
            <div class="technology">
                <img src="../../assets/html.png" alt="Angular" />
                <div>
                    <p class="technology-name">HTML</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/css.png" alt="Angular" />
                <div>
                    <p class="technology-name">CSS</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/ts.png" alt="Angular" />
                <div>
                    <p class="technology-name">TYPESCRIPT</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/angular.png" alt="Angular" />
                <div>
                    <p class="technology-name">ANGULAR</p>
                    <p class="technology-form">{{ 'TECHNOLOGIES.INTERMEDIATE' | translate }}</p>
                </div>
            </div>
        </div>

    </div>

    <div>
        <p class="sub-tec">{{ 'TECHNOLOGIES.BACK_END' | translate }}</p>
        <div class="group">
            <div class="technology">
                <img src="../../assets/java.png" alt="Angular" />
                <div>
                    <p class="technology-name">JAVA</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
    
            <div class="technology">
                <img src="../../assets/spring.png" alt="Angular" />
                <div>
                    <p class="technology-name">SPRING</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/postgreSQL.png" alt="Angular" />
                <div>
                    <p class="technology-name">SQL</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/git .png" alt="Angular" />
                <div>
                    <p class="technology-name">GIT</p>
                    <p class="technology-form">ADVANCE</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/docker.png" alt="Angular" />
                <div>
                    <p class="technology-name">DOCKER</p>
                    <p class="technology-form">BASIC</p>
                </div>
            </div>
            <div class="technology">
                <img src="../../assets/azure.png" alt="Angular" />
                <div>
                    <p class="technology-name">AZURE</p>
                    <p class="technology-form">BASIC</p>
                </div>
            </div>
        </div>

    </div>
</div>